{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <form action="/" method="post">

         <div class="form-row" style="width: 50%; margin: 0 auto; padding: 5px;">

            <div class="col" >
                <input autocomplete="off" autofocus class="form-control" name="usr" placeholder="User" type="text" style="vertical-align:middle;">
            </div>

            <div class="col">
                <input autocomplete="off" autofocus class="form-control" name="id" placeholder="Id" type="text" style="vertical-align:middle;">
            </div>

            <div class="col-1">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </div>

        </div>
    </form>

    <br>

    <div style="">
        {% if tweet %}
        <div style="width: 50%; margin: 0 auto;">
            {{ tweet|safe }}
        </div>
        {% endif %}
    </div>

{% endblock %}
